@font-face {
  font-family: 'BCGHenSans';
  src: url('../fonts/BCGHenSansRegular.ttf') format('truetype');
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: 'BCGHenSans';
  src: url('../fonts/BCGHenSansLight.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'BCGHenSans';
  src: url('../fonts/BCGHenSansThin.ttf') format('truetype');
  font-weight: 100; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: 'BCGHenSans';
  src: url('../fonts/BCGHenSansBold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'BCGHenSerif';
  src: url('../fonts/BCGHenSerifItalic.ttf') format('truetype');
  font-weight: 400; /* Normal */
  font-style: italic;
}


/* General Styles */

:root {
  font-size: 16px;
  --PrimaryGreen: #21BF61;  
  --Grey: #323232;
  --LightBackground: #DFD7CC;
}

body {
  margin: 0;
  position: fixed;
  overflow: hidden;

  font-family: BCGHenSans, sans-serif;
  font-weight: 300;
  color: #323232;
}

.bold {
  font-weight: 700;
}

/* Home */

#homeContainer {
  background-color: #DFD7CC;
  height: 100vh;
  width: 100vw;
}

#homeTitle {
  background-color: var(--Grey);
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  padding: 4.5rem 2rem 1.5rem 2rem;
}

#homeContent {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 2rem 1.5rem 2rem;
  z-index: 10;
  max-width: 1080px;
  margin: auto;
}

#contentTitle {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 1.75rem;
  gap: 0.5rem;
}

#contentSubTitle {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 1rem;
  max-width: 1080px;
}

#contentCTA {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  width: max-content;
  background: var(--Primary-BCG-GREEN-400, #21BF61);
  text-decoration: none;
}

#contentCTA > span {
  font-size: 1rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

#homeVisual {
  /* position: absolute; */
  /* bottom: 0; */
  display: flex;
  justify-content: center;
  width: 100%;

}

#homeVisual > img {
  max-width: 1080px;
  width: 100vw;
}