

.booth-selector {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: auto;
    /* font-size: 0.9rem; */
    text-decoration: none;
    color: #323232;
    font-weight: 700;
}

.booth-id {
    text-transform: uppercase;
}

.booth-title {
    margin-left: 1rem;
}

.booth-arrow {
    margin-left: auto;
    max-width: 0.9rem;
}

.booth-separator {
    height: 1px;
    width: 100%;
    background-color: #DFD7CC;
    margin: 0 1rem;
    width: auto;
}

.service-entry {
    display: flex;
    padding: 1rem;
    align-items: center;
    width: auto;
    /* font-size: 0.9rem; */
    text-decoration: none;
    color: #323232;
    font-weight: 700;
}

.service-title {
    margin-left: 1rem;
}

.service-icon {
    width: max-content;
}