/* Booth Selectors */

.booth-selector {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: auto;
    /* font-size: 0.9rem; */
    text-decoration: none;
    color: #323232;
    font-weight: 700;
    font-size: 0.85rem;
}

.booth-id {
    text-transform: uppercase;
}

.booth-title {
    margin-left: 0.5rem;
}

.booth-arrow {
    margin-left: auto;
    max-width: 0.9rem;
}

.booth-separator {
    height: 1px;
    width: 100%;
    background-color: #DFD7CC;
    margin: 0 1rem;
    width: auto;
}

/* Title */

#content-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 0.85rem;
}

#content-title-text {
    font-weight: 700;
    font-size: 1rem;
}

#content-title-icon {
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Services */

.service-entry {
    display: flex;
    padding: 1rem;
    align-items: center;
    width: auto;
    /* font-size: 0.9rem; */
    text-decoration: none;
    color: #323232;
    font-weight: 700;
}

.service-title {
    margin-left: 0.5rem;
    font-size: 0.85rem;
}

.service-icon {
    width: max-content;
}

/* Authors */

.author-entry {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: auto;
    /* font-size: 0.9rem; */
    text-decoration: none;
    color: #323232;
    font-weight: 700;
    gap: 1rem;
}

.author-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #21BF61;
}

.time-title-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.author-description {
    font-weight: 300;
}

.author-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: white;
    border-radius: 1rem;
    width: max-content;
    padding: 0.2rem;

}

.author-picture {
    max-width: 1.5rem;
    max-height: 1.5rem;
}

.author-name {
    padding-right: 1rem;
    font-size: 0.75rem;
    color: #696969;
}